.container
  .row
    .col.s12.m8.offset-m2
      %h3
        = @provider.first_name
        = @provider.last_name
      %h5.center Quotes
      %table
        %thead
          %tr
            %th Distance (Miles)
            %th Price
            %th
            %th
        %tbody
          - if @quote_tables.any?
            - @quote_tables.each do |quote|
              %tr
                %td
                  = quote.desc
                %td
                  = quote.price
      %hr
      %h5.center Make A Request
      .card-panel
        = form_for @request do |f|
          = f.hidden_field :phone, :value => current_user.phone
          = f.label :Problem
          = f.text_field :title, placeholder: "Describe your problem", required: 'true'
          = f.label :Info
          = f.text_area :info, placeholder: "Feel free to add any additional info"
          = f.label :Model_Year
          = f.number_field :model_year, placeholder: "Model Year"
          = f.label :Make
          = f.text_field :make, placeholder: "Car Make"
          = f.label :Model
          = f.text_field :model, placeholder: "Car Model"
          = f.label :Address
          = f.text_field :address, placeholder: "Give address of problem if different than 'GET LOCATION'"
          = f.hidden_field :user_id, :value => current_user.id
          = f.hidden_field :provider_id, :value => @provider.id
          = f.hidden_field :first_name, :value => current_user.first_name
          = f.hidden_field :last_name, :value => current_user.last_name
          = f.hidden_field :lat
          = f.hidden_field :lon
          = f.submit class: "btn waves-effect waves-light pad right"
        %button.btn.btn.waves-effect.waves-light#locationbutton Get Location
        %div.map.hide
          %div#mapholder
      %br
      %br
      %div.center
        = link_to "Back", requests_path
