%h3
  = @provider.first_name
  = @provider.last_name
%hr
- @quote_tables.each do |quote|
  %p
    = quote.desc
- if current_user.roles == 'provider' && current_user.id == @provider.id
  = form_for @quote_table do |f|
    = f.text_field :desc, placeholder: "ex. 0-5 miles"
    = f.number_field :price, placeholder: "ex. 30$"
    = f.submit 'Submit Quote', class: "btn waves-effect waves-light pad"
