%h3
  = @provider.first_name
  = @provider.last_name
%hr
%table
  %thead
    %tr
      %th Distance (Miles)
      %th Price
  %tbody
    - if @quote_tables.any?
      - @quote_tables.each do |quote|
        %tr
          %td
            = quote.desc
          %td
            = quote.price
- if current_user.roles == 'provider' && current_user.id == @provider.id
  %h4 Current Requests
  - if @customer_requests.any?
    %table
      %thead
        %tr
          %th Title
          %th Description
          %th Customer's Name
          %th Customer's Phone
      %tbody
        - if @customer_requests.any?
          %div.collection
            - @customer_requests.each do |request|
              %a.collection-item
              %tr
                %td
                  = link_to request.title, request_path(request)
                %td
                  = request.info
                %td
                %td
- if current_user.roles == 'user'
  %h4 New Request
  = render 'requestform'
