%div.container
  %div.row
    %div.col.s12.m8.offset-m1
      %h3 Quotes
      %hr
      %table
        %thead
          %tr
            %th Distance (Miles)
            %th Price
            %th
            %th
        %tbody
          - if @quote_tables.any?
            - @quote_tables.each do |quote|
              %tr
                %td
                  = quote.desc
                %td
                  = quote.price
                %td
                  = link_to 'Edit', edit_quote_table_path(quote), class: "btn waves-effect waves-light"
                %td
                  = link_to 'Delete', quote_table_path(quote), method: :delete, data: { confirm: "Are you sure?"}, class: "btn waves-effect waves-light"
    %div.col.s12.m2.quotepad
      = link_to 'New Quote', new_quote_table_path, class: "btn waves-effect waves-light"