%h3 Edit Quotes Page
%p
  Hello,
  = current_user.first_name 
  = current_user.last_name
%hr
%table
  %thead
    %tr
      %th Distance (Miles)
      %th Price
  %tbody
    - if @quote_tables.any?
      - @quote_tables.each do |quote|
        %tr
          %td
            = quote.desc
          %td
            = quote.price
%br
= link_to 'New Quote', new_provider_path, class: "btn waves-effect waves-light"