%div.container
  %div.row
    %div.col.s12.m10.offset-m1
      %h3 Edit Quote
      %p
        Hello,
        = current_user.first_name 
        = current_user.last_name
      %hr
      %table
        %thead
          %tr
            %th Distance (Miles)
            %th Price
        %tbody
          - if @quote_tables.any?
            - @quote_tables.each do |quote|
              %tr
                %td
                  = quote.desc
                %td
                  = quote.price
      %br
      = link_to 'New Quote', new_provider_path, class: "btn waves-effect waves-light"