= form_for @request do |f|
  = f.text_field :title, placeholder: "Describe your problem"
  = f.text_area :info, placeholder: "Feel free to add any additional info"
  = f.hidden_field :user_id, :value => current_user.id
  = f.hidden_field :provider_id, :value => current_user.id
  = f.submit class: "btn waves-effect waves-light pad"
%br
%button.btn.btn.waves-effect.waves-light#locationbutton Get Location
%br
%div#mapholder.center.map

= link_to "Back", requests_path
