.container
  .row
    .col.s12.m4.offset-m4
      .card-content.requestshow
        %h4.card-title
          = @request.title
        %p
          = @request.info
        %p
          = @request.phone
      .card-action
        %br
          - if current_user.role = 'provider'
            # TODO checkmark for accept and compeleted for provider
          - else
            # TODO indicator for pending and completed for user
            = button_to 'Edit Request', edit_request_path, method: :get, class: 'btn waves-effect waves-light'
            = button_to 'Delete this request?', @request, method: :delete, data: { confirm: "Are you sure?"}, class: 'btn waves-effect waves-light'