%h1 Your Request
%h4
  = @request.title
%p
  = @request.info
%p
  = @request.phone
%br
= button_to 'Edit Request', edit_request_path, method: :get, class: 'btn waves-effect waves-light'
%br
= button_to 'Delete this request?', @request, method: :delete, data: { confirm: "Are you sure?"}, class: 'btn waves-effect waves-light' if logged_in?(:user)
