<nav>
  <div class="nav-wrapper">
    <a href="/"><img src="/assets/TowSmith.png" alt="TowSmith" class="logotow brand-logo center" /></a>
    <% if user_signed_in? %>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <% end %>
    <ul id="nav" class="right hide-on-med-and-down">
    <% if user_signed_in? %>
      <% if current_user.roles == 'provider' %>
        <li><%= link_to('Your Quotes', quote_tables_path) %></li>
      <% end %>
      <% if current_user.roles == 'user' %>
        <li><%= link_to('Your Requests', requests_path, :method => :get) %></li>
        <li><%= link_to('New Request', new_request_path, :method => :get) %></li>
      <% end %>
      <% if current_user %>
        <li><%= link_to('Edit Profile', edit_user_registration_path) %></li>
        <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
      <% end %>
    <% end %> 
    </ul>
    <ul class="side-nav" id="mobile-demo">
    <% if user_signed_in? %>
      <% if current_user.roles == 'provider' %>
        <li><%= link_to('Your Quotes', quote_tables_path) %></li>
      <% end %>
      <% if current_user.roles == 'user' %>
        <li><%= link_to('Your Requests', requests_path, :method => :get) %></li>
        <li><%= link_to('New Request', new_request_path, :method => :get) %></li>
      <% end %>
      <% if current_user %>
        <li><%= link_to('Edit Profile', edit_user_registration_path) %></li>
        <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
      <% end %>
    <% end %> 
    </ul>
  </div>
</nav>